################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MVCSolution/.vs/MVCSolution
/MVCSolution/MVC/obj
